@use '../custom' as *;
.mobile-d{
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-right: 1px solid $primary;
}

.mobile-d-content{
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-left: 1px solid $primary;
}

@include media-breakpoint-down(md) {
.mobile-d{
    background-color: $dark;
    position: fixed;
    display: block;
    bottom: -2px;
    left: 0;
    right: 0;
    margin-left: 8px;
    margin-right: 8px;
    width: auto;

    border-right: none;
    border-top: 2px solid $primary;
}

#mobile-d-content{
    display: none;
    max-height: 50vh;
}

.mobile-d-content{
    border-left: none;
    border-bottom: none;
}
}






